/* Better Clarity Green Progressbar CSS mod */
.UrlBar-AddressField .pageload:not(.unstarted).progressing .pageload-indicator {opacity: 1 !important; box-shadow: inset 0 0 0 .2px lime; background: rgb(0 255 0 / 10%);}
.theme-dark .UrlBar-AddressField .pageload:not(.unstarted).progressing .pageload-indicator {background: rgb(0 255 0 / 20%);}

/* centered addressfield URL */
.UrlField:not(.UrlField--HasEditText) .UrlBar-UrlField {text-align: center;}
.UrlFragment-Wrapper {width: fit-content; left: 0; right: 0; margin: auto;}

/* hide https:// display */
.UrlBar-AddressField > .SiteInfoButton:is(.secure, .certified) + .UrlBar-UrlFieldWrapper .UrlFragment-Wrapper > .UrlFragment--Lowlight:first-of-type {opacity:0;}

/* secure domain green highlighter  */
.UrlFragment-HostFragment-Subdomain, .UrlFragment-HostFragment-Basedomain, .UrlFragment-HostFragment-TLD {-webkit-text-stroke-width: 0.6px;}
.UrlBar-AddressField > .SiteInfoButton:is(.secure, .certified) + .UrlBar-UrlFieldWrapper :is(.UrlFragment-HostFragment-Basedomain, .UrlFragment-HostFragment-TLD) {color: var(--colorSuccessBg);}

/* warning domain pink highlighter */
.UrlBar-AddressField > .SiteInfoButton.warning + .UrlBar-UrlFieldWrapper :is(.UrlFragment-HostFragment-Basedomain, .UrlFragment-HostFragment-TLD) {color: deeppink;}

/* ergonomic notes panel */
#notes-panel > section:not(:hover) ~ .notes-editor:focus-within {height: 100% !important;}
/*#notes-panel > :is(header, section):focus-within ~ .notes-editor:not(:hover) {height: 136px !important;} */ /* optional: auto-shrink textbox */
#notes-panel > .notes-editor {transition: height .25s ease-in-out !important;}
#notes-panel .NotesEditor-Editor:focus-within {box-shadow: 0 0 0 0.7px var(--colorHighlightBg) !important;}

#notes-panel .NotesAttachments {position: absolute; top:1px; right:0; grid-auto-rows: unset; transition-delay: .2s !important;}
#notes-panel .NotesAttachments:is(:hover, :focus-within) {--AttachmentSize: 100%; z-index:9; animation: fade .2s 0s !important;}
#notes-panel button.AttachmentItem-ViewOverlayButton {cursor: alias;}
#notes-panel button.AttachmentItem-DeleteButton {cursor: pointer; top: 3px; right: 3px; background: white url('data:image/svg+xml; utf8, <svg viewBox="0 0 8 8" version="1.1" xmlns="http://www.w3.org/2000/svg"><polygon points="0 3 0 5 8 5 8 3"></polygon></svg>') center / 7px no-repeat; filter: invert(1);}
#notes-panel button.AttachmentItem-DeleteButton:hover {transform: scale(1.2);} 

#notes-panel .NotesEditor-Metadata {display:flex; flex-flow: row nowrap;}
#notes-panel .NotesEditor-Metadata > .UrlField {flex: 1 0; width:0; margin-right:5px;}
#notes-panel .NotesEditor-Metadata > .UrlField > input {background-color: var(--colorBgIntense);}
#notes-panel .NotesEditor-Metadata > .NotesEditor-MetaIcon--Url:not(:hover) + .UrlField.UrlField--HasEditText:not(:hover):not(:focus-within) input {text-indent: -37px;}
#notes-panel .NotesEditor-Metadata > .NotesEditor-Created > .NotesEditor-MetaIcon {display:none;}
#notes-panel .NotesEditor-Metadata > .NotesEditor-MetaIcon--Url:hover + .UrlField.UrlField--HasEditText + .NotesEditor-Created,
#notes-panel .NotesEditor-Metadata > .UrlField.UrlField--HasEditText:is(:hover, :focus-within) + .NotesEditor-Created {font-size:0;}
#notes-panel .NotesEditor-Metadata > .NotesEditor-Created {transition: .15s !important;}

/* Hibernated tab's title as Marker */
.tab-position .tab.isdiscarded:not(:hover) .title {opacity: .6; /* -webkit-text-fill-color: #9999; */} /* lighten hibernated tabs' title or change the color */
.tab-position .tab:not(.isdiscarded) .title {-webkit-text-stroke-width: 0.15px;} /* increase loaded tabs' title thickness slightly */

/* Mainbar buttons highlight animation CSS mod */
:is(.toolbar-mainbar, .toolbar-extensions) > .button-toolbar > button:hover {border-radius: 17px; background: var(--colorAccentBgAlpha) !important; transition: .25s ease-out 0s !important;}
:is(.toolbar-mainbar, .toolbar-extensions) > .button-toolbar > button:hover:not(:active) :is(svg, img) {transform: scale(1.3); transition: transform .13s linear 0s !important;}

.toolbar-extensions .ExtensionIcon--Hidden:hover {border-radius: 50%; background: transparent; transition: .3s ease-out !important;}
.button-toolbar > button:disabled {opacity: .7;}